@model IEnumerable<SeaCargo.Models.DB.tbl_article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Details</h2>

<div>
    <h4>tbl_articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.a_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_mediatype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_mediatype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_meidatype_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_meidatype_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_loc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_loc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
